.ht {
    .logo-container {
        margin-bottom: 0;
        position: relative;
        margin-top: 0;
    }

    .ht-avail {

    }
    .ht-logo {
        img {
            max-width: 150px;
        }
    }
    .wrapper-main {
        #page-body {
        }
    }
    .static-link-list {
        margin-bottom: 0;
    }
    .page-content {
        background-color: $white;
    }

    .single {
        .tab-content {
            .active {
                padding: 15px;
            }
        }
    }
    .footer {
        .footer-content {
            .logo {

                img {
                    max-width: 118px;
                    margin: 11px auto 0;
                }
            } 
        }
    }
    
    @include media-breakpoint-up(lg){
        #mainNavbarCollapsable {
            .mainmenu  {
                >li{
                    a {
                        padding:2rem 1rem; 
                    }
                }
            }
        }
    }
}