.ht {
    .logo-container {
        margin-bottom: 20px;
    }
    .ht-logo {
        img {
            max-width: 150px;
        } 
    }
    .wrapper-main {
        #page-body {
            margin-top: 41px;
        }
    }
}